table {
  text-align: center;
  align-self: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

thead {
  text-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
